<a
  (click)="toggle()"
  class="select-none duration-150 my-1 px-4 py-2 flex items-center justify-between space-x-2 hover:bg-gray-800 rounded cursor-pointer"
>
  <p class="text-lg">{{title}}</p>
  <div class="duration-100 ease-out transform" [class.rotate-90]="open">
    <app-chevron></app-chevron>
  </div>
</a>

<ul *ngIf="open">
  <li
    *ngFor="let item of items"
    class="select-none duration-150 my-1 pr-4 pl-6 py-2 flex items-center space-x-2 hover:bg-gray-800 rounded cursor-pointer"
  >
    {{item.title}}
  </li>
</ul>
